#artists-list {
    width: 300px;
}

#artists-list > div{
    border: solid darkred;
    border-radius: 25px;
    margin: 4px;
    padding: 10px;
}

#artists-list > hr {
    margin: 0;
    padding: 0;
}